<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LogIn</title>
</head>
<body>
<h1>Lonin Page</h1>
<hr>
<!--<form action="/loginProc" method="post" name="loginForm">-->
<form action="/loginProc" method="post">
    <input id="username" type="text" name="username" placeholder="id"/>
    <input id="password" type="password" name="password" placeholder="password"/>
    <input type="submit" value="login"/>
</form>
</body>
</html>
